:root {
    font-size: 16px;
    --royal-blue-light: #0d1117;
    --royal-blue-dark: #0d1117;
    --white: #fff;
    --backgroud: #e2e3e9;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}

a {
    color: white;
    text-decoration: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--royal-blue-light);
    height: 4.6875;
    padding: 1rem;
    text-decoration: none;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.logo:hover {
    color: #20BDFF;
}

.menu {
    list-style: none;
    display: flex;
    gap: 0.5rem;
}

.menu a {
    display: block;
    padding: 1rem;
    border-radius: 0.5rem;
}

.label-menu,
.checkbox {
    display: none;
}


main {
    margin-right: 15%;
    margin-left: 15%;
    background-color: #1c2331;
    color: white;
}

.perfilcontainer {
    margin-bottom: 100px;
}

.paiperfil {
    display: flex;
}

article {
    display: flex;
    margin-top: 50px;
}

aside h3 {
    margin-top: 50px;

}

.perfil {
    display: flex;
    align-items: center;
    justify-content: center;
}

.textosperfil {
    display: inline;
    flex-flow: wrap;

}

.textosperfil p {
    justify-content: start;
}

.perfilphoto {
    max-width: 300px;
    max-height: 350px;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 50%;

}

.iconsredes {
    margin-top: 1rem;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    margin-left: 390px;
    margin-top: -60px;
}

.iconsredes a :hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

footer {
    width: 100%;
    color: black;
}

#footer_content {
    background-color: #3946d4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
}

.positionslide {
    padding: 50px;
}

.repocontainer {
    margin-bottom: 80px;

}

.positionslide {
    width: 80%;
}

.colegasdetrab {
    margin-bottom: 100px;
}

.fotoscolegas {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.fotoscolegas img {
    border-radius: 50%;
    margin-top: 50px;
    max-width: 256px;
    max-height: 256px;
}

.fotoscolegas img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.fotoscolegas p {
    display: grid;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    font-size: 1rem;
}

.btn-5 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: #20BDFF;
    background: linear-gradient(0deg, #00648f 0%, #20BDFF 100%);
}

.btn-5 span {
    color: white;
}

.btn-5:hover {
    color: #20BDFF;
    background: transparent;
    box-shadow: none;
}

.btn-5:before,
.btn-5:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #20BDFF;
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}

.btn-5:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;

}

.btn-5:hover:before,
.btn-5:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

.container2 img {
    margin-top: 15px;
}

.card img {
    max-width: 256px;
    max-height: 256px;
}

@media (max-width: 768px) {
    .menu {
        display: block;
        position: absolute;
        top: 4.6875rem;
        left: 0;
        background: var(--royal-blue-light);
        text-align: center;
        width: 100%;
        height: 0;
        z-index: 1;
        visibility: hidden;
        overflow-y: hidden;
        transition: 0.5s;
    }

    .menu a {
        padding: 1rem 0;
        margin-inline: 1rem;
        border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.50);
        border-radius: 0;
        text-decoration: none;
        align-items: center;
        margin-right: 50px;
        color: white;
    }

    .menu a:hover {
        color: #20BDFF;
    }

    .label-menu {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        color: var(--white);
        padding: 1rem 0;
        cursor: pointer;
    }

    .hamburger {
        border-top: 0.125rem solid;
        width: 1.25rem;
    }

    .hamburger::after,
    .hamburger::before {
        content: " ";
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        background: currentColor;
        margin-top: 0.3125rem;
        position: relative;
        transition: 0.3s;
    }

    .checkbox:checked~.menu {
        height: calc(100vh - 4.6875rem);
        visibility: visible;
        overflow-y: auto;
    }

    .checkbox:checked~.label-menu .hamburger {
        border-top-color: transparent;
    }

    .checkbox:checked~.label-menu .hamburger::before {
        transform: rotate(135deg);
    }

    .checkbox:checked~.label-menu .hamburger::after {
        transform: rotate(-135deg);
        top: -0.4375rem;
    }

    .perfilcontainer {
        display: grid;
        margin-bottom: 50px;
    }

    .textosperfil {
        display: inline;
        max-width: 300px;
        max-height: 250px;

    }

    .textosperfil h3 {
        display: grid;
        font-size: 2rem;
        margin-top: 50px;

    }

    .perfiltitle {
        display: grid;
        text-align: center;
        justify-content: center;

    }


    .textosperfil p {
        display: grid;
        text-align: center;
        justify-content: center;
        margin-top: 1.5rem;
        font-size: 1rem;
    }

    .addinfo {
        display: grid;
        text-align: center;
        justify-content: center;
        margin-top: 1.5rem;
        font-size: 1rem;
        margin-bottom: 20px;
    }

    .perfilphoto {
        max-width: 300px;
        max-height: 280px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-top: -30px;
    }

    .iconsredes {
        margin-left: 32%;
        margin-top: 5px;
        -webkit-transition: -webkit-transform .5s ease;
        transition: transform .5s ease;
    }

    .iconsredes a :hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    .repocontainer {
        display: grid;
        align-items: center;
        justify-content: center;
        margin-top: 2.5rem;
    }

    #cards {
        display: flex;
        text-align: center;
        align-items: center;

    }

    .card {
        display: grid;
    }

    .card img {
        max-width: 128px;
        max-height: 128px;
    }

    .slides {
        display: grid;
        margin: 10px;
    }

    .colegasdetrab {
        display: grid;

    }

    .fotoscolegas img {
        display: grid;
        max-width: 180px;
        max-height: 120px;
        width: auto;
        height: auto;
        padding: 1rem;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-top: 0.5rem;
    }

    .fotoscolegas p {
        align-items: center;
        text-align: center;
    }

    main {
        margin: 0;
        padding: 0;
    }

    .paiperfil {
        display: grid;
    }

    .positionslide {
        padding: 0;
    }

    .fotoscolegas p {
        display: grid;
        text-align: center;
        justify-content: center;
        font-size: 1.0rem;
        margin-top: 0;
        color: #fff;

    }

    .colegasdetrab {
        margin-bottom: 0;
        margin-top: 0;
    }

    .repocontainer {
        margin-bottom: 50px;
        margin-top: 30px;

    }

    .positionslide {
        width: 100%;
        margin-bottom: 50px;
        margin-top: 30px;
    }

}